@model Exodus.ViewModels.VM_User
@using Exodus.Helpers

@{

    var lang = Exodus.Global.Global.Language;
}

<div class="ex-navigation">
    <div class="ex-navigation__info">
        <div class="ex-navigation__content">            
            <div class="ex-navigation__title">Исполнить обязательство</div>
        </div>
    </div>


    <div class="ex-navigation__item active">
        Исполнить обязательство
        <i class="icons-gear ex-navigation__icon"></i>
    </div>

</div>

<div id="ex-route-2">
    <div id="ex-screen-2" class="ex-panels ex-scroll ex-scroll_with-free-space" style="margin-right: -19px;">
        <div class="ex-panel">
            <div class="ex-panel__header">
                <i class="ex-panel__icon">#</i>
                Исполнить обязательство:
            </div>
            <div class="ex-panel__content">
                <div data-react="/Obligation/MyFulFill?UserID=@Model.UserID&ObligationID=123456789&lang=@lang"></div>
            </div>
        </div>
    </div>
</div>