<appSettings>
  <!--DEFAULTS-->
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <!--SMTP-->
  <add key="smtpPort" value="25 "/>
  <add key="smtpHost" value="in-v3.mailjet.com"/>
  <add key="smtpSsl" value="false"/>
  <add key="smtpTimeout" value="10000"/>
  <add key="smtpUserName" value="1e4856e29a7c6368e3b640be71cc456a"/>
  <add key="smtpPassword" value="ba10d6186fe44c16958888892d6e26d9"/>
  <add key="smtpDefaultSender" value="dubovitsky.vadim@gmail.com"/>
  <add key="smtpTemplateFolder" value="MessageTemplates"/>
  <!--EXODUS URL-->
  <add key="ExodusUrl" value="http://meltanian.ddns.net/"/>
  <add key="MainUrl" value="http://meltanian.ddns.net/"/>
  <add key="MobileUrl" value="http://m.exodus.today"/>
  <add key="IsMobileActive" value="false"/>
  <!--LOG4NET-->
  <add key="Logger4Net.File" value="~\Log4Net.config" />
  <!--DefaultVaruables-->
  <add key="DefaultAvatarBigName" value="big.jpeg"/>
  <add key="DefaultAvatarSmallName" value="small.jpeg"/>
  <add key="AvatarBigFolder" value="\Styles\dist\images\avatar200x200\"/>
  <add key="AvatarSmallFolder" value="\Styles\dist\images\avatar50x50\"/>
</appSettings>