<?xml version="1.0" encoding="UTF-8"?>
<global_root id="global_root">
  <configuration creation_time="16.06.2018 18:55:08" />
  <root id="root">
    <add key="DefaultIntentionDurationDays" value="1000"></add>
    <add key="IsLocalImages" value="False" />
    <add key="DefaultCurrency" value="1"/> <!--USD-->
  </root>
  <named id="named">
    <Localisation key="path" value="~\\App_Data\\Localisation">
    </Localisation>
    <Localisation key="default" value="ru">
    </Localisation>
  </named>
  <sections id="sections">
    <ExodusAdmin>
    </ExodusAdmin>
  </sections>
</global_root>