@model Tuple<Exodus.ViewModels.VM_Tag, EN_TagRole>
@using Exodus.Enums
@{
    Exodus.ViewModels.VM_Tag tag = Model.Item1;
    EN_TagRole TagRole = Model.Item2;
    var lang = Exodus.Global.Global.Language;
}
<div class="h2o-default-page" data-react="/H2O/Application?tagID=@tag.TagID&tagRole=@Convert.ToInt32(TagRole)">React</div>
