@model List<Exodus.ViewModels.VM_Transaction>

<div class="header">
    <h3><i class="icon-transaction"></i>Транзакции</h3>
    <div class="select-wrapper">
        <select>
            <option>по дате</option>
            <option>по сумме</option>
        </select>
    </div>
    <div class="input-wrapper">
        <input type="text" placeholder="Начните вводить имя участника...">
    </div>
</div>