@{
    var UserID = Exodus.Global.Global.CurrentUser.UserID;
    var lang = Exodus.Global.Global.Language;
}
<div class="ex-panel__content" data-react="/Obligation/FulFillObligation">Страница не загружена</div>