@model List<Exception>
@{
    var lang = Exodus.Global.Global.Language;
    Layout = "~/Views/Shared/Layout_Errors.cshtml";
}

<div class="mt-4" style="width:800px">
    <h3 style="text-align:center">Application Startup Errors</h3>
    <br />
</div>
<br />
<div style="display:block;width:800px">
    @foreach (var item in Model)
    {
        <textarea>@item.Message</textarea>
        <br />
    }
</div>
