@{
    var lang = Exodus.Global.Global.Language;
    Layout = "~/Views/Shared/Layout_Errors.cshtml";
}
<div class="mt-4" style="width:500px">
    <h4 style="text-align:center">@Exodus.Global.Localisation.Get("IncorrectInviteCode", lang)</h4>
    <br>
    <input onclick="window.history.back(); return false;" type="button"
           value="@Exodus.Global.Localisation.Get("Back", lang)" class="btn btn-outline-primary w-100">
    <br>
</div>