@model Tuple<Exodus.ViewModels.VM_Tag, EN_TagRole>
@using Exodus.Enums
@{
    Exodus.ViewModels.VM_Tag tag = Model.Item1;
    EN_TagRole tagRole = Model.Item2;
    var lang = Exodus.Global.Global.Language;
}


    <div id="ex-screen-1" class="ex-navigation @(tagRole == EN_TagRole.Owner ? "mine" : "")" data-react="/OwnInitiative/Navigation?tagID=@tag.TagID&tagName=@tag.Name">

    </div>

    <div id="ex-route-2"
         class="ex-grid_0-1-1 own-initiative-area"
         data-href="@this.Url.Action("Dashboard", "OwnInitiative", new { TagID = tag.TagID, TagRole = Convert.ToInt32(tagRole) })">
    </div>
