@using Exodus.Helpers
@{
    Layout = "~/Views/Shared/Layout_Langs.cshtml";
    var lang = PageHelper.Language;
}
<div id="notify" data-react="/User/Notifications"><div class="Toastify"></div></div>
<div data-react="/User/ResetPassword"></div>