@model Exodus.ViewModels.VM_Tag
@using Exodus.ViewModels
@using Exodus.Enums
@{
    var lang = Exodus.Global.Global.Language;
}

<div id="ex-route-2"
     class="ex-grid_0-1-1" data-react=@("/OwnInitiative/InviteMembers?TagID=" + Model.TagID)>xxx</div>
